@font-face {
  font-family: 'VCR OSD Mono';
  src: url('/fonts/VCR-OSD-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Consolas';
  src: url('/fonts/Consolas-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  color-scheme: only dark;

  --max-width: 1440rem;

  --spacing-unit: 30rem;

  --line-height: 1.625;

  --font-body: 'Consolas', monospace;
  --font-heading: 'VCR OSD Mono', monospace;

  --color-base-white: 20, 23%;
  --color-base-black: 248, 33%;
  --color-base-orange: 13, 71%;

  --color-white: var(--color-base-white), 90%;
  --color-orange: var(--color-base-orange), 60%;
  --color-black: var(--color-base-black), 5%;

  --theme-bg: hsla(var(--color-black), 1);
  --theme-text: hsla(var(--color-white), 1);
  --theme-text-light: hsla(var(--color-white), 0.8);
  --theme-text-lighter: hsla(var(--color-white), 0.5);
  --theme-accent: hsla(var(--color-orange), 1);
}