---
import "../styles/normalize.css";
import "../styles/theme.css";
import "../styles/index.css";

import { SITE } from "../config";

import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Register from "../components/Register.astro";

import heroVideo from "../assets/hero-bg.mp4";
import heroImage from "../assets/hero-bg.png";
---
<style>
	.hero-image,
	.hero-video {
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.hero-video {
		display: none;
	}
</style>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		const video = document.querySelector("body > video") as HTMLVideoElement;

		video && video.addEventListener("canplay", event => {
			video.style.display = "block";
		});
	});
</script>
<html lang="en">
	<head>
		<Head />
		<slot name="title"><title>{SITE.title}</title></slot>
		<meta name="description" content={SITE.description} />
	</head>
	<body>
		<img class="hero-image" src={heroImage} />
		<video class="hero-video" autoplay muted loop>
			<source src={heroVideo} type="video/mp4" />
		</video>
    <slot />
		<Register />
		<Footer />
	</body>
</html>

