---
import "../styles/normalize.css";
import "../styles/theme.css";
import "../styles/index.css";

import config from "../config";

import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Register from "../components/Register.astro";
---

<html lang="en">
	<head>
		<Head />
		<slot name="title"><title>{config.title}</title></slot>
		<meta name="description" content={config.description} />
	</head>
	<body>
    <slot />
		<Register />
		<Footer />
	</body>
</html>

