---
import { SITE } from "../config";
---
<style>
  footer {
    margin: 0 auto;
    max-width: var(--max-width);
    box-sizing: border-box;
    padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
    color: var(--theme-text-light);
    font-size: 20rem;
    display: flex;
    justify-content: space-between;
  }
  .info a {
    color: var(--theme-text-light);
    text-decoration: underline;
  }
  .links a {
    padding-left: 5rem;
  }

  @media only screen and (max-width: 600px) {
    footer {
      display: block;
      text-align: center;
      padding: 50rem calc(var(--spacing-unit) / 2) var(--spacing-unit);
    }
    .info,
    .links {
      line-height: 2.5;
    }
  }
</style>
<footer>
  <div class="info">Hosted by <a href="https://sst.dev" target="_blank">SST</a></div>
  <div class="links">
    <a target="_blank" href={SITE.repo}>Source</a>
    <a target="_blank" href="https://twitter.com/isserverlessrdy">Twitter</a>
    <a target="_blank" href="https://discord.gg/sst">Discord</a>
  </div>
</footer>